form{
  width: 100%;
  background-color: rgb(221, 215, 215);
  display: flex;;
  justify-content: center;
  padding: 10px 0;
  input{
    width: 85%;
    padding: 5px;
    border-radius: 5px;
    border: 0.5px solid;

    &:focus{
     
      outline: none;
    }
  }
  button{
    background-color: rgba(98, 98, 251, 0.5);
    border: 0;
    color: #fff;
    font-size: 1.1rem;
    margin-left: 3px;
  }
}